.blind {overflow: hidden; position: absolute; width: 1px; height: 1px; font-size: 12px; clip: rect(1px, 1px, 1px, 1px);}
.popup-container {max-width: 620px; margin: 0 auto;}
.popup-container a {text-decoration: none; color: inherit;}
.popup-container a:focus {outline: 1px dashed #999;}

/* .popup-container .item-box .item-img {display: flex; margin-top: 20px;}
.popup-container .item-box .item-img a {display: block; width: 300px; border: 1px solid #1eb9b2;}
.popup-container .item-box .item-img a:nth-child(2n + 2) {margin-left: 20px;}
.popup-container .item-box .item-img a img {display: block; width: 100%;} */

.popup-container .img-popup {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.9); visibility: hidden; opacity: 0; transition: all 0.3s; z-index: 10000;}
.popup-container .img-popup.active {visibility: visible; opacity: 1;}
.popup-container .img-popup .popup-inner {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); /*width: 900px;*/}
.popup-container .img-popup .popup-inner > img {display: block; width: 80%; margin: 0 auto;}
.popup-container .img-popup .popup-inner .close-btn {display: flex; display: -webkit-flex; display: -ms-flexbox; position: absolute; top: 0px; left: 100%; transform: translateX(-50%); width: 40px; height: 40px; border-radius: 50%; background-color: white; justify-content: center; align-items: center; color: #fff; font-size: 30px;}
.popup-container .img-popup .popup-inner .close-btn i {transition: all 0.3s; color: white; font-size: 2rem;}
.popup-container .img-popup .popup-inner .close-btn:hover i {transform: rotate(180deg);color: white; font-size: 2rem;}

@media (max-width:991px) {
  .popup-container .img-popup .popup-inner {width: 90%;}
  .popup-container .img-popup .popup-inner .close-btn {width: 50px; height: 50px; top: -26px;}
  .popup-container .img-popup .popup-inner .close-btn img {width: 20px;}
}